{
  "parser": "babel-eslint",
  "extends": ["airbnb", 'plugin:jsx-a11y/recommended'],
  "rules": {
    'arrow-body-style': [2, 'always'],
    'arrow-parens': ['error', 'as-needed'],
    'react/forbid-prop-types': [2, { "forbid": ['any'] }],
  },
  "env": {
    "node": true,
    "browser": true,
    "jasmine": true
  },
  "plugins": ["compat", "react", "jsx-a11y", "import"],
  "settings": {
    "targets": ['chrome >= 50', 'firefox', 'edge', 'ie >= 9', 'safari >= 9'],
    "coverage": false,
    "compiler": 'babel'
  },
  "globals": {
    "fetch": false,
    "document": true,
    "localStorage": true,
    "window": true,
    "Generator": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
}
