<div class="b-catalog b-flex is-row is-start is-stretch" role="group">
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
        <span class="has-label">sale</span>
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
                role="presentantion"
                alt="картинка" draggable="false"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
                role="presentantion"
                alt="картинка" draggable="false"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item in-shop" role="treeitem">
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
                role="presentantion"
                alt="картинка" draggable="false"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
        <span class="has-label">sale</span>
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
                role="presentantion"
                alt="картинка" draggable="false"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
        <span class="has-label">sale</span>
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
                role="presentantion"
                alt="картинка" draggable="false"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
        <span class="has-label">sale</span>
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item in-shop" role="treeitem">
          <span class="has-label">sale</span>
          <div class="b-item__img">
              <img src="assets/bitmap.jpg"
                  srcset="assets/bitmap@2x.jpg 2x,
                          assets/bitmap@3x.jpg 3x"
                  role="presentantion"
                  alt="картинка" draggable="false"
              >
          </div>
          <footer class="b-item__price">
              <a href="/item.html" role="link" class="with-type__money is_after">170</a>
          </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
          <div class="b-item__img">
              <img src="assets/bitmap.jpg"
                  srcset="assets/bitmap@2x.jpg 2x,
                          assets/bitmap@3x.jpg 3x"
                  role="presentantion"
                  alt="картинка" draggable="false"
              >
          </div>
          <footer class="b-item__price">
              <a href="/item.html" role="link" class="with-type__money is_after">170</a>
          </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item in-shop" role="treeitem">
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
                role="presentantion"
                alt="картинка" draggable="false"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
        <span class="has-label">sale</span>
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
                role="presentantion"
                alt="картинка" draggable="false"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
        <span class="has-label">sale</span>
        <div class="b-item__img">
            <img src="assets/bitmap.jpg"
                srcset="assets/bitmap@2x.jpg 2x,
                        assets/bitmap@3x.jpg 3x"
                role="presentantion"
                alt="картинка" draggable="false"
            >
        </div>
        <footer class="b-item__price">
            <a href="/item.html" role="link" class="with-type__money is_after">170</a>
        </footer>
      </article>
    </div>
    <div class="col-s-6 col-m-4 col-l-4">
      <article class="b-catalog__item" role="treeitem">
          <span class="has-label">sale</span>
          <div class="b-item__img">
              <img src="assets/bitmap.jpg"
                  srcset="assets/bitmap@2x.jpg 2x,
                          assets/bitmap@3x.jpg 3x"
                alt="картинка" draggable="false"
              >
          </div>
          <footer class="b-item__price">
              <a href="/item.html" role="link" class="with-type__money is_after">170</a>
          </footer>
      </article>
    </div>
</div>
