<form action="#" method="get" role="search">
  <div class="b-filter b-flex is-row is-start">
    <div class="b-filter__element">
      <button aria-label="Тогл фильтра" role="button" type="button" class="bg-icon_filter">
        <span class="icon-filter">&nbsp;</span>
      </button>
    </div>
    <div class="b-flex is-row is-start b-filterArray is-show">
      <div class="b-filter__element" role="listbox">
        <button type="button" name="button" class="is-active">women</button>
        <button type="button" name="button">men</button>
      </div>
      <div class="b-filter__element" role="listbox">
        <span>size </span>
        <button type="button" name="button">37</button>
        <button type="button" name="button">38</button>
        <button type="button" name="button">39</button>
        <button type="button" name="button" class="is-active">40</button>
        <button type="button" name="button">41</button>
        <button type="button" name="button">42</button>
      </div>
    </div>
  </div>
</form>
