<div class="b-item">
    <div class="b-flex is-row is-between">
        <div class="b-item__h m-pos_relative">
            <h1 role="heading">ULRTA BOOST</h1>
        </div>
        <div class="b-item__more b-flex is-end m-pos_relative">
            <div class="b-item__color">
                <button role="button" type="button" style="background-color: #4d87ca;">&nbsp;</button>
                <button role="button" type="button" style="background-color: #e0e0e0;">&nbsp;</button>
                <button role="button" type="button" class="is-active" style="background-color: green;">&nbsp;</button>
                <button role="button" type="button" style="background-color: yellow;">&nbsp;</button>
            </div>
            <div class="b-item__badge m-bage__sale"><span>sale</span></div>
        </div>
    </div>
    <div class="b-price with-type__money b-flex is-row is-end m-pos_relative is_after" role="math">170</div>
    <div class="b-flex is-row is-start m-pos_relative">
        <div class="b-info m-default">save</div>
    </div>
    <div class="b-flex is-row is-center">
        <div class="b-item__image">
            <img src="assets/bitmap-copy.png"
                srcset="assets/bitmap-copy@2x.png 2x,
                        assets/bitmap-copy@3x.png 3x"
                role="presentation"
                alt="картинка" draggable="false"
            >
        </div>
    </div>
    <div class="b-subimg b-flex is-row is-start">
        <div class="b-subImage is-active">
            <img src="assets/bitmap-copy.png"
                srcset="assets/bitmap-copy@2x.png 2x,
                        assets/bitmap-copy@3x.png 3x"
                role="presentation"
                alt="картинка" draggable="false"
            >
        </div>
        <div class="b-subImage">
            <img src="assets/bitmap-copy.png"
                srcset="assets/bitmap-copy@2x.png 2x,
                        assets/bitmap-copy@3x.png 3x"
                role="presentation"
                alt="картинка" draggable="false"
            >
        </div>
        <div class="b-subImage">
            <img src="assets/bitmap-copy.png"
                srcset="assets/bitmap-copy@2x.png 2x,
                        assets/bitmap-copy@3x.png 3x"
                role="presentation"
                alt="картинка" draggable="false"
            >
        </div>
        <div class="b-subImage">
            <img src="assets/bitmap-copy.png"
                srcset="assets/bitmap-copy@2x.png 2x,
                        assets/bitmap-copy@3x.png 3x"
                role="presentation"
                alt="картинка" draggable="false"
            >
        </div>
        <div class="b-subImage">
            <div class="b-more_div">
              <span class="b-more">&nbsp;</span>
            </div>
        </div>
        <div class="b-subImage col-s-4 col-m-1">
            <div class="b-link">see more photos</div>
        </div>
    </div>
    <div class="b-description">
      <p><b>Adidas</b> is a German multinational corporation, headquartered in Herzogenaurach, Germany, that designs and manufactures shoes, clothing and accessories.</p>
    </div>
</div>
<div class="b-btn">
  <button type="button" aria-label="купить">buy now</button>
</div>
