<div class="b-sidebar m-text-center">
  <div class="b-sidebar__logo">
    <a href="/">
      <img src="assets/logo.png"
		    srcset="assets/logo@2x.png 2x, assets/logo@3x.png 3x"
        role="presentation"
        alt="логотип"
		  />
    </a>
  </div>
  <div class="is-mobile">
    <button aria-label="Открыть меню" onclick="showMeNavbar('navbar')"><span class="menu icon"></span></button>
  </div>
  <div class="b-sectionNav">
    <div class="b-sidebar__search">
      <form action="/" method="GET" role="search">
        <button type="submit"><span class="icon-search">&nbsp;</span></button>
        <input type="search" role="input">
      </form>
    </div>
    <nav class="b-sidebar__navbar">
      <ul role="navigation" aria-label="меню">
        <li role="menuitem">
          <a href="#" class="has-subnav is-active">sports</a>
          <ul class="is-active">
            <li role="menuitem"><a href="#" class="is-active">shoes</a></li>
            <li role="menuitem"><a href="#">clothing</a></li>
            <li role="menuitem"><a href="#">accesories</a></li>
          </ul>
        </li>
        <li role="menuitem"><a href="#">brand</a></li>
        <li role="menuitem"><a href="#">micoach</a></li>
      </ul>
    </nav>
  </div>
</div>

<script>
  function showMeNavbar(searchElement) {
    const menu = document.getElementById(searchElement);
    menu.classList.toggle('is-show');
  }
</script>
