$color_black: #0e0e0e;
$color_blue: #4d42f8;
$color_grey: #d6d6d6;
$color_navbar_sub_link: #3c3c3c;
$color_navbar_head_link: #303030;
$color_grey_l: #e3e3e3;

$search_border: #373737;
$bg_color_item: #f4f4f4;
$item_label__red: #ff5c5c;
$transition: 0.6s;

$media_xs: 320px;
$media_s: 468px;
$media_m: 768px;
$media_l: 1024px;
$media_xl: 1500px;

$font_avenir_bold: 'AriaNextBold';
$font_andal_regular: 'AndaleMono';
$font_avenir_regular: 'AriaNextRegular';

.m-text-center { text-align: center; }
.m-text-left { text-align: left; }
.m-text-right { text-align: right; }
.m-pull-right { float: right; }
.m-pull-left { float: left; }
.m-uppercase { text-transform: uppercase; }
.m-pos_relative { position: relative; }

@media screen and (min-width: $media_m) {
  .is-mobile { display: none; }
}

.b-flex {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  align-content: center;
  &.is-col { flex-flow: column wrap; }

  &.is-row {
    flex-flow: row wrap;
    &_nowrap { flex-wrap: nowrap; }
  }
  &.is-center { justify-content: center; }
  &.is-start { justify-content: flex-start; }
  &.is-end { justify-content: flex-end; }
  &.is-around { justify-content: space-around; }
  &.is-between { justify-content: space-between; }
  &.is-middle { vertical-align: middle; }
  &.is-top { vertical-align: top; }
  &.is-stretch { align-items: stretch; align-content: stretch; }

  .col {
    /* m size */
    &-m {
      &-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
      }

      &-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
      }

      &-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
      }

      &-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
      }

      &-9 {
        flex-basis: 75%;
        max-width: 75%;
      }
    }

    @media (max-width: $media_m) {
      /* m size */
      &-s {
        &-1 {
          flex-basis: 8.33333333%;
          max-width: 8.33333333%;
        }

        &-4 {
          flex-basis: 33.33333333%;
          max-width: 33.33333333%;
        }

        &-6 {
          flex-basis: 50%;
          max-width: 50%;
        }

        &-12 {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }

    @media (min-width: $media_xl) {
      /* l size */
      &-l {
        &-5 {
          flex-basis: 20%;
          max-width: 20%;
        }

        &-3 {
          flex-basis: 25%;
          max-width: 25%;
        }
      }
    }
  }
}

@define-mixin transition $name {
  transition: $transition $name;

  &:hover {
    transition: $transition $name;
  }
}

@define-mixin selection {
  &::selection {
    color: black;
    background-color: $color_grey_l;
  }
}

@font-face {
  font-family: $font_avenir_bold;
  src: url('../fonts/avenir-next-bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $font_avenir_bold;
  src: url('../fonts/avenir-next-bold.woff');
  font-style: normal;
}

@font-face {
  font-family: $font_andal_regular;
  src: url('../fonts/Andale-Mono.woff');
  font-style: normal;
}

@font-face {
  font-family: $font_avenir_regular;
  src: url('../fonts/avenir-next-regular.woff');
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: $font_avenir_regular;
}
html { font-size: 62.5%; }

.b-container {
  img {
    user-select: none;
  }

  aside {
    min-height: 100vh;
    background-color: $color_black;
    flex-basis: 41.4rem;

    @media (min-width: 1600px) {
      max-width: none;
    }
  }

  section { flex-basis: 75%; }

  a { text-decoration: none; }

  .b-sidebar {
    overflow: auto;

    &__logo {
      margin: 3.1rem auto;
    }

    &__search {
      padding: 0 2rem;

      form {
        $form_opacity: 0.8;

        position: relative;

        button[type="submit"] {
          padding: 0;
          top: 0.3rem;
          left: 0;
          opacity: $form_opacity;
          size: 2.1rem 2.2rem;
          position: absolute;
          cursor: pointer;
          background-color: transparent;
          border: 0;
          box-shadow: none;

          .icon-search {
            color: #fff;
            top: -0.5rem;
            left: 0.5rem;
            position: absolute;
            size: 14px;
            border: solid 0.3rem currentColor;
            border-radius: 100%;
            transform: rotate(-45deg);

            &::before {
              content: '';
              position: absolute;
              top: 1.4rem;
              left: 0.6rem;
              size: 0.3rem 1.5rem;
              background-color: currentColor;
            }
          }
        }

        input[type="search"] {
          color: #3a3a3a;
          opacity: 0.56;
          text-transform: uppercase;
          font-size: 2.4rem;
          font-family: $font_avenir_bold;
          outline-style: none;
          padding-bottom: 5px;
          padding-left: 4.5rem;
          background-color: transparent;
          border-width: 0 0 0.4rem;
          border-color: $search_border;
          width: 100%;
        }
      }
    }

    &__navbar {
      a {
        color: #fff;
      }

      ul,
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul > li {
        margin: 2rem 0;

        a:not(.is-active) { color: $color_navbar_head_link; }

        > ul {
          margin-bottom: 5.6rem;
          margin-top: 3.2rem;

          &:not(.is-active) {
            display: none;
          }
        }

        a {
          font-size: 2.4rem;
          color: #fff;
          text-transform: uppercase;
          font-family: $font_avenir_bold;

          @mixin transition;

          &.is-active,
          &:hover {
            color: #fff;
          }
        }

        > ul > li > a {
          font-family: $font_andal_regular;
          color: $color_navbar_sub_link;
          transition: $transition;
        }

        .has-subnav.is-active {
          margin-left: 2rem;
          transition: $transition transform;

          &::before {
            transition: $transition transform;
            transform: rotate(135deg);
          }
        }

        .has-subnav {
          font-family: $font_avenir_bold;
          position: relative;
          padding-right: 2rem;

          &::before {
            right: 0;
            top: 0.8rem;
            content: '';
            size: 0.7rem;
            transition: $transition transform;
            position: absolute;
            border-top: solid 0.3rem currentColor;
            border-right: solid 0.3rem currentColor;
            transform: rotate(-40deg);
          }
        }
      }
    }
  }

  a,
  button,
  input {
    outline-style: none;
  }

  section {
    .e-border {
      height: 0.3rem;
      opacity: 0.56;
      border: 0;
      margin-bottom: 1rem;
      background-color: #e7e7e7;
    }

    header {
      @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.86);
      }

      .b-filter {
        margin: 1rem 0 1rem 2.3rem;

        .b-filterArray {
          &:not(.is-show) {
            visibility: hidden;
          }

          .b-filter__element {
            margin: 0 5rem 0 0;

            @media screen and (max-width: $media_m) {
              margin: 0;
            }
          }

          .b-filter__element {
            text-transform: uppercase;

            span,
            button {
              font-size: 2.4rem;
              color: $color_grey;
              font-family: $font_avenir_bold;
              margin: 0 0.3rem;
              cursor: pointer;
              transition: $transition;
            }

            span {
              color: $color_blue;
              margin-right: 2rem;
            }

            button {
              text-transform: uppercase;
              background: transparent;

              &:not(.is-active) { @mixin selection; }

              &.is-active,
              &:hover {
                color: $color_blue;
                transition: $transition;
              }
              &:hover { opacity: 0.6; }
            }
          }
        }

        button {
          background: transparent;
          border: 0;
          cursor: pointer;
          padding: 1.1rem 0;
          background-color: #ebebeb;

          &.bg-icon_filter {
            padding: 1.1rem 0.8rem;
            margin-right: 2.9rem;
          }

          .icon-filter {
            background: url('../assets/filter.png') center center no-repeat;
            background-size: cover;
            size: 4rem 3.3rem;
            display: inline-block;
          }
        }
      }
    }
  }

  .b-catalog {
    text-align: center;
    position: relative;
    padding-left: 1rem;
    transition: $transition;

    $catalog_padding: 0.8rem;

    &__item {
      margin: 0.8rem 1.25rem;
      padding-bottom: 0.2rem;
      background-color: $bg_color_item;
      position: relative;

      .has-label {
        position: absolute;
        top: 1.3rem;
        right: 1.6rem;
        font-family: $font_avenir_bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.4rem;
        padding: 0.6rem 2.1rem;
        background-color: $item_label__red;
      }

      .b-item__img {
        padding: $catalog_padding;

        img {
          width: 100%;
          background-color: #fff;
        }
      }

      &.in-shop {
        a {
          transition: $transition;
          color: #fff;
          background-image: linear-gradient(107deg, #0c09bf, #966dd8);
        }
      }

      &:not(.in-shop) {
        a {
          color: black;
          background-color: #fff;
        }
      }

      .b-item__price {
        a {
          font-family: $font_avenir_bold;
          margin: 0 $catalog_padding $catalog_padding;
          display: block;
          padding: 2.3rem 0;
          font-size: 3rem;
        }
      }
    }
  }
}

.b-item {
  padding: 1.2rem 3.7rem 0 3.1rem;
  margin: 0;

  &__h {
    max-width: 30rem;
    line-height: 1;

    h1 {
      margin: 0;
      font-size: 6.4rem;
      color: #3a3a3a;
      font-family: $font_avenir_bold;
    }
  }

  &__more {
    button {
      background: transparent;
      border: 0;
      cursor: pointer;
      border-radius: 100%;
      size: 1.8rem;
      margin: 0 0.75rem;

      &.is-active {
        size: 2.4rem;
      }
    }
  }

  &__badge {
    margin-left: 3rem;

    &.m-bage__sale {
      color: #fff;
      font-size: 1.4rem;
      font-family: $font_avenir_bold;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-color: $item_label__red;
    }
  }

  .b-price {
    margin-top: -5rem;
    font-size: 8rem;
    text-transform: uppercase;
    font-family: $font_avenir_bold;
    color: #e2e2e2;

    @mixin selection;
  }

  .b-info {
    margin-top: -2rem;
    padding: 3rem 2rem;
    position: relative;
    border-radius: 100%;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: $font_avenir_bold;

    &.m-default {
      color: #fff;
      background-color: $color_grey_l;
    }
  }

  &__image {
    img { width: 100%; }

    margin-top: -18.5rem;
  }

  .b-subimg {
    .b-subImage {
      position: relative;
      max-size: 17rem;
      overflow: hidden;
      border: 0.5rem solid transparent;

      &.is-active {
        border-color: #e7e7e7;
      }

      img {
        width: 100%;
      }
    }
  }

  $size_more: 100% 0.3rem;

  .b-more_div {
    height: 2rem;
    width: 16rem;
    cursor: pointer;
    margin-top: 0.8rem;

    .b-more {
      left: 0;
      color: #e7e7e7;
      position: absolute;
      transition: $transition;
      size: $size_more;
      background-color: currentColor;

      &::before {
        content: '';
        position: absolute;
        top: 1.4rem;
        left: 0;
        size: $size_more;
        background-color: currentColor;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0.7rem;
        left: 0;
        size: $size_more;
        background-color: currentColor;
      }
    }
  }

  .b-link {
    cursor: pointer;
    font-size: 1.4rem;
    color: #c0c0c0;
    max-width: 4rem;
    transition: $transition;
  }

  .b-description {
    margin-top: 3rem;
    line-height: 1.5;
    font-family: $font_avenir_regular;
    font-size: 3.3rem;

    p {
      color: #d8d8d8;

      @mixin selection;
    }

    b {
      color: #6e6e6e;

      &::selection {
        color: $color_blue;
        background-color: $color_grey_l;
      }
    }
  }
}

@supports not (position: sticky) {
  .b-item {
    padding-bottom: 10rem;
  }

  .b-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
  }
}

@supports (position: sticky) {
  .b-btn {
    position: sticky;
    bottom: 0;
  }
}

.b-btn {
  text-align: center;

  button {
    padding: 3.4rem 0 3.6rem;
    background: transparent;
    box-shadow: none;
    border: 0;
    width: 100%;
    color: #fff;
    font-size: 3.2rem;
    font-family: $font_avenir_bold;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    background-image: linear-gradient(to right, #4949aa, #27275d);

    &:hover {
      background-image: linear-gradient(to right, #27275d, #4949aa);
    }
  }
}

@media (min-width: $media_m) and (max-width: $media_l) {
  .b-container {
    section {
      header {
        .b-filter {
          .b-filterArray {
            .b-filter__element {
              margin: 0 5rem 0 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $media_m) {
  .b-container {
    aside {
      min-height: auto;
      position: fixed;
      padding: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .b-sidebar__navbar {
      margin-top: 0;
    }

    section {
      margin-top: 9rem;

      header {
        position: static;

        .b-filter {
          button.bg-icon_filter {
            display: none;
          }
        }
      }
    }

    .b-sectionNav {
      max-width: 41.4rem;
      margin: auto;
      clear: both;
      padding: 0 2rem;
    }

    .b-sectionNav:not(.is-show) {
      display: none;
    }

    .is-mobile {
      display: inline-block;
      position: relative;
      float: right;
      margin: 3rem;

      button {
        box-shadow: none;
        border: 0;
        padding: 0;
        size: 3rem 2rem;
        cursor: pointer;
        position: relative;
        background: transparent;
      }
    }

    .b-sidebar__logo {
      display: inline-block;
      margin: 1rem 2rem;
      text-align: left;
      float: left;
    }
  }

  .menu.icon {
    left: 0;
    color: #fff;
    position: absolute;
    size: 3rem 0.2rem;
    background-color: currentColor;

    &::before {
      content: '';
      position: absolute;
      top: -0.5rem;
      left: 0;
      size: 3rem 0.2rem;
      background-color: currentColor;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0.5rem;
      left: 0;
      size: 3rem 0.2rem;
      background-color: currentColor;
    }
  }

  .b-item {
    &__h {
      max-width: none;

      h1 {
        font-size: 4.5rem;
      }
    }

    .b-price {
      margin-top: 0;
      padding-right: 1rem;
      min-height: 8.5rem;
    }
    .b-info { margin-top: -9rem; }
    .b-item__image { margin-top: 0; }
    .b-description { font-size: 3rem; }

    .b-subimg .b-subImage {
      flex: 0 0 calc(100% / 2 - 1rem);
      margin: auto;
    }
  }
}

.is-fixed {
  top: 0;
  position: fixed;
  width: 100%;
  left: 0;
}

.b-alert {
  transition: $transition;
  border-radius: 0;
  z-index: 20;
  font-size: 2rem;
  text-align: center;
  padding: 2.5rem 0;
  text-transform: uppercase;

  &.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
}

.with-type__money {
  &.is_before::before {
    content: '$';
    display: inline-block;
  }

  &.is_after::after {
    content: '$';
    display: inline-block;
  }
}

@media (min-width: $media_m) {
  .b-sidebar__navbar {
    display: flex;
    min-height: calc(100vh - 40rem);
    align-items: center;

    ul {
      width: 100%;
    }
  }

  .b-item__more {
    margin-top: -5rem;
  }
}

@media (min-width: $media_l) and (max-width: $media_xl) {
  .b-item {
    .b-subimg {
      .b-subImage {
        flex-basis: 15%;
      }
    }
  }
}
