<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/bundle.min.css">
    <title>frontend</title>
</head>
<body>
    <div class="b-container b-flex is-row is-row_nowrap is-between is-stretch">
        <aside class="col-s-12">{{> sidebar }}</aside>
        <section class="col-s-12">
            <header>{{> filter }}</header>
            <main role="main" aria-label="Основная часть">{{> catalog }}</main>
        </section>
    </div>
</body>
</html>
